<h1>
  {{title}}
</h1>
<player-detail></player-detail>
<div>
  <button (click)="smModal.show()">
    开始
  </button>
  <button (click)="add()">
    新增玩家
  </button>
  <button (click)="restart()">
    重新开始
  </button>
</div>

<div class="modal fade" bsModal #smModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">新玩家</h4>
        <button type="button" class="close pull-right" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="name">名字</label>
        <input type="text" name="name">
      </div>
      <div class="modal-footer">
        <button >添加</button>
        <button >完成</button>
      </div>
    </div>
  </div>
</div>